:root{
    --primary-color: #a1cca5;
    --secondary-color: #8fb966;
    --accent1-color: #709775;
    --accent2-color: #415d43;
  
   

}

h1 {
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    position: absolute;
    top: 30px;
    left: 250px;


    
}

h2 {
    background-color: var(--secondary-color);
    color: darkblue;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    text-align: center;
}

p { 
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: black;
     

}

footer a {
    text-decoration: none;
}

.hero-image {
    display: block;
    width: 100%;
    height: auto;
}


div {
    position: relative;
}

article {
    position: absolute;
    top: 300px;
    border: 2px solid black;
    background-color: rgba(0, 96, 250, 0.5);
    
}

article img {
    float: right;
}

article p {
    text-align: center;
}

